#body{
    background-image: url("https://res.cloudinary.com/dh62nngtk/image/upload/v1781861955/background_image_bmfwrp.jpg");
    background-size: cover;
}
.ball {
    position: absolute;
    backdrop-filter: blur(12px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid greenyellow;
    box-shadow: 1px 1px gray;
}