#body{
    background-image: url("https://res.cloudinary.com/dh62nngtk/image/upload/v1781861955/background_image_bmfwrp.jpg");
    background-size: cover;
}
.ball {
    position: absolute;
    backdrop-filter: blur(12px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1px;
    border: 5px solid greenyellow;
    box-shadow: 1px 1px gray;
}
#start {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 10px;
}
#btn{
    position:fixed;
    top: 5%;
    left: 10px;
    z-index: -2;
    background-color: purple;
    color:aquamarine;
    border-radius: 15px;
    padding:5px;
    opacity: 0.5;
}